.imagesBox {
    display: flex;
}

.imagesBox img {
    width: 100px;
    margin: 5px;
    border: 1px solid gray;
}

.arrows {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
   
}